<div class='editDiv container mb-5'>
<h2>Изменить</h2>

<form id="editForm" class="container mt-5" data-clientid="{{client._id}}">
  <div class="container">

    <div class="editClient">
      <div class="mb3">
        <label for="validationCustom01" class="form-label">Название компании</label>
        <input name="companyName" data-new-company-name="newCompanyName" type="text" class="form-control"
          id="validationCustom01" value="{{client.companyName}}" required>
      </div>
      <div class="mb3">
        <label for="validationCustom01" class="form-label">Телефон общий</label>
        <input name="phone" data-new-phone="newPhone" type="text" class="form-control" id="validationCustom01"
          value="{{client.phone}}" required>
      </div>
      <div class="mb3">
        <label for="validationCustom01" class="form-label">Контактное лицо</label>
        <input name="contactPerson" data-new-contact="newContact" type="text" class="form-control" id="validationCustom01"
          value="{{client.contactPerson}}" required>
      </div>
      <div class="mb3">
        <label for="validationCustom01" class="form-label">Телефон личный</label>
        <input name="personalPhone" data-new-personal-phone="newPersonalPhone" type="text" class="form-control"
          id="validationCustom01" value="{{client.personalPhone}}">
      </div>
      <div class="mb3">
        <label for="validationCustom01" class="form-label">E-mail</label>
        <input name="email" data-new-email="newEmail" type="text" class="form-control" id="validationCustom01"
          value="{{client.email}}" required>
      </div>
      <div class="mb3">
        <label for="validationCustom01" class="form-label">Комментарии</label>
        <textarea name="notes" data-new-notes="newNotes" type="text" class="form-control" id="validationCustom01"
          value="{{client.notes}}">
      </textarea>
      </div>
    </div>

    {{!-- <div class='pictureDiv'>
      <h2>Добавление картины</h2>
      <div class="form-group">
        <label for="formGroupExampleInput">Название картины</label>
        <input name='title' type="text" class="form-control" id="formGroupExampleInput" placeholder="Название картины">
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput">Автор</label>
        <input name='author' type="text" class="form-control" id="formGroupExampleInput" placeholder="Автор">
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput">Стоимость</label>
        <input name='cost' type="text" class="form-control" id="formGroupExampleInput" placeholder="Стоимость">
      </div>
      <div class="custom-file">
        <input name='photo' type="file" class="custom-file-input" id="customFile">
      </div>
    </div> --}}
  </div>

  <div class="d-flex justify-content-center">
      <button class="btn btn-primary mt-5 editButt" type="submit">Сохранить изменения</button>
  </div>
</form>
  
</div>
<div id="errormessage"></div>
