{{!-- {{#if client}} --}}

<form class="container mt-5">
  <div class="col-md-4">
    <label for="validationCustom01" class="form-label">Название компании</label>
    <input type="text" class="form-control" id="validationCustom01" value="{{client.companyName}}" required>
  </div>
  <div class="col-md-4">
    <label for="validationCustom01" class="form-label">Телефон общий</label>
    <input type="text" class="form-control" id="validationCustom01" value="{{client.phone}}" required>
  </div>
  <div class="col-md-4">
    <label for="validationCustom01" class="form-label">Контактное лицо</label>
    <input type="text" class="form-control" id="validationCustom01" value="{{client.contactPerson}}" required>
  </div>
  <div class="col-md-4">
    <label for="validationCustom01" class="form-label">Телефон личный</label>
    <input type="text" class="form-control" id="validationCustom01" value="{{client.personalPhone}}">
  </div>
  <div class="col-md-4">
    <label for="validationCustom01" class="form-label">E-mail</label>
    <input type="text" class="form-control" id="validationCustom01" value="{{client.email}}k" required>
  </div>
  <div class="col-md-4">
    <label for="validationCustom01" class="form-label">Комментарии</label>
    <textarea type="text" class="form-control" id="validationCustom01" value="{{client.notes}}">
    </textarea>
  </div>
  <button class="btn btn-primary mt-5" type="submit">Сохранить изменения</button>
</form>
{{!-- {{/if}} --}}
